
<%= link_to 'Make a New Post', new_post_path %>

<% @posts.each do |post| %>
    <div class='card-body my-2' style='background-color: #D4FCC7;'>
        <h3  class='card-title' style='font-size: 1.4rem;'><%= link_to post.title, post_path(post) %></h3>
        <h4 class='card-subtitle text-muted' style='font-size: 1.2rem;'><%= "Posted by #{post.user}"%></h4>
        <p class='card-text'><%= post.text %></p>
            <% if post.updated_at %>
                <p class='card-text'>Updated <%= post.updated_at %></p>
            <% else %>  
                <p class='card-text'>Created <%= post.created_at %></p>
            <% end %>
        <p># OF COMMENTS</p>
        <p>DISPLAY THE VOTES</p>
        <p>SORT BY # VOTES</p></p>
    </div>


<% end %>
