<h1><%= @post.title %></h1>

<p>
    <strong>Text:</strong>
    <%= @post.text %>
        <% if @post.updated_at %>
            <p class='card-text'>Updated <%= time_ago_in_words(@post.updated_at) %> ago</p>
        <% else %>  
            <p class='card-text'>Created <%= time_ago_in_words(@post.created_at) %> ago</p>          
        <% end %>
        <p class='card-text'>  <%= pluralize(@post.votes.count, "Vote") %></p>
        <p class='card-text'> <%= button_to 'ðŸ¸', upvote_post_path(@post), method: :post %></p>
</p>
<p class="my-4"><%= link_to 'Edit Post', edit_post_path %> |
<%= link_to 'Delete Post', post_path(@post),
            method: :delete %> </p>

 <h2>Comments</h2>
<%= link_to 'Add a comment', new_comment_path(post_id: @post.id) %>

<% @post.comments.each do |comment|%>
    <div class='bg-light my-2'>

        <strong><%= comment.user %></strong> <em class="text-muted"><%=  time_ago_in_words(comment.created_at) %> ago </em>
        <p class="font-weight-light"><%= comment.text%></p>
        <%= link_to 'Edit comment', edit_comment_path(post_id: @post.id) %> |
        <%= link_to 'Delete Comment', comment_path(comment),
               method: :delete %>
</p>
    </div>
<% end %>

