<h1><%= @post.title %></h1>

<div class='p-4', style='background-color: rgba(194,239,179,0.7);'>
    <%= @post.text %>
    <p class='mt-3'> Posted by <strong><%=@post.user%></strong></p>
        <% if @post.updated_at %>
            <p class='mt-3'>Updated <%= time_ago_in_words(@post.updated_at) %> ago</p>
        <% else %>  
            <p class='mt-3'>Created <%= time_ago_in_words(@post.created_at) %> ago</p>
        <% end %>
        <% if current_user && current_user.id == @post.user_id %>
            <p class="my-4"><%= link_to 'Edit Post', edit_post_path, class:'btn text-light btn-sm', style:'background-color: #137547;' %> |
            <%= link_to 'Delete Post', post_path(@post),
            method: :delete, class:'btn text-light btn-sm', style:'background-color: #137547;' %> </p>
<% end %>
</div>
<div class='p-4', style='background-color: #4ADBC8'>
        <div class='mb-2' style='font-size: 1.3rem;'><%= pluralize(@post.votes.count, "Vote") %></div>
        <%= button_to '+ ðŸ¸ ', upvote_post_path(@post), method: :post, style:'font-size: 1.8rem;' %>
</div>


 <h2 class='mt-5'>Comments</h2>
<%= link_to 'Add a comment', new_comment_path(post_id: @post.id), class:'btn text-light', style:'background-color: #137547;' %>

<% @post.comments.each do |comment|%>
    <div class='p-2 my-2', style='background-color: rgba(194,239,179,0.4);'>

        <strong><%= comment.user %></strong> <em class="text-muted"><%=  time_ago_in_words(comment.created_at) %> ago </em>
        <p class="font-weight-light"><%= comment.text%></p>
        <% if current_user.id == comment.user_id %>
        <%= link_to 'Edit comment', edit_comment_path(post_id: @post.id), class:'btn text-light btn-sm', style:'background-color: #137547;'  %> |
        <%= link_to 'Delete Comment', comment_path(comment),
               method: :delete, class:'btn text-light btn-sm', style:'background-color: #137547;' %>
        <% end %>
</p>
    </div>
<% end %>

