<h1><%= @post.title %></h1>

<p>
    <strong>Text:</strong>
    <%= @post.text %>
        <% if @post.updated_at %>
            <p class='card-text'>Updated <%= @post.updated_at %></p>
        <% else %>  
            <p class='card-text'>Created <%= @post.created_at %></p>          
        <% end %>
        <p class='card-text'>  <%= pluralize(@post.votes.count, "Vote") %></p>
        <p class='card-text'> <%= button_to 'ðŸ¸', upvote_post_path(@post), method: :post %></p>
</p>
<%= link_to 'Edit Post', edit_post_path %>

 <h2>Comments</h2>
<%= link_to 'Add a comment', new_comment_path(post_id: @post.id) %>

<% @post.comments.each do |comment|%>
    <div class='bg-light my-2'>
        <p class='font-weight-bold'><%= comment.user%></p>
        <p class="font-weight-light"><%= comment.text%></p>
        <%= link_to 'Edit comment', edit_comment_path(post_id: @post.id) %>
        <%= link_to 'Delete Comment', comment_path(comment),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
    </div>
<% end %>

<%= link_to 'Home', posts_path %>
